:root {
  --white: #fff;
  --black: #000;
  --dark-slate-green: #2f4f4f;
  --light-neutral: #b9b9b9;
  --dark-green: #1c3030;
  --heading-margin-bottom: 5px;
  --page-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  font-family: var(--page-font);
}

body {
  font-family: var(--page-font);
  margin: 0;
  background-color: var(--light-neutral);
}

header {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 10px 10px 10px 60px;
  text-align: left;
  background-color: var(--dark-slate-green);
  color: var(--light-neutral);
  margin: 0px;
border-bottom: 5px solid var(--dark-green);
}

nav {
  display: flex;
  background-color: var(--dark-slate-green);
  justify-content: flex-end;
  padding-right: 3em;
  
}

nav a {
  padding: 10px;
  color: var(--black);
  text-decoration: none;
}

nav a:hover {
  background-color: var(--dark-green);
  color: var(--light-neutral)
}

main {
  margin-top: 5px;
}

/* changed flexbox to a div container */
aside {
  
}

section {
  /* changed flexbox to a div container */
  padding: 25px;
}

h1,
h2,
h3 {
  font-family: var(--page-font);
  margin-bottom: var(--heading-margin-bottom);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
  color: var(--dark-green);
  display:flex;
}

h3 {
  font-size: 1.25rem;
  margin-top: 0;
}

p {
  color: var(--dark-green);
}

footer {
  background-color: var(--dark-slate-green);
  padding: 40px;
}
/* flex container around About Me section */
#about-section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: .625em;
  border-bottom: 5px solid var(--dark-green);
}

#about-heading {
  display: flex;
  align-items: center;
}

.about-item-1 {
  margin: 3% 0 0 3%;
}

.about-item-2 {
  margin-left: 5%;
  ;
  max-width: 70%;
}

/* flex container around Projects section */

#project-section-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1em;
}

#project-heading {
  display: flex;
  align-items: center;
}

.photo {
  max-width: 200px;
  border-radius: 50%;
  border: 3px solid var(--dark-green);
  margin: auto 0;
}

img#project1image {
  flex-grow: 1;
}

img#project2image {
  flex-grow: 1;
}

img#project3image {
  flex-grow: 1;
}